{% load static %}

  <section id="about" class="about">
        <div class="container">
            <div class="about-content">
                <div class="about-text animate-on-scroll">
                    <h2>About {{alp.name|title}}</h2>
                    <p>{{alp.about_company}}</p>
                  
                    <a href="#contact" class="btn-primary">Learn More</a>
                </div>
                <div class="about-image animate-on-scroll"  >
                  
                </div>
            </div>
        </div>
    </section>
    