{% load static %}

<section id="contact" class="contact">
        <div class="container">
            <div class="section-header animate-on-scroll">
                <h2>Get In Touch</h2>
                <p>Ready to start your investment journey? Contact us today for a consultation</p>
                <img src="{% static 'svg/favicon.svg' %}" alt="">
                <img src="{% static 'img/logo.jpg' %}" alt=".jpg">
                <img src="{% static 'img/logos.png' %}" alt=".png">
            </div>
            <form class="contact-form animate-on-scroll" action="{% url 'homepage' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" id="name" name="full_name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" name="phone">
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="5" style="resize: none;" required ></textarea>
                </div>
                <button type="submit" class="btn-primary" style="width: 100%;">Send Message</button>
            </form>
        </div>
    </section>